@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root{
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);

    /* Neutral */
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}
*{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.pages > div,
.read-more,
a, .numbered-headline h3,
.new-headline h3{
    cursor: pointer;
    transition: 0.4s;
}
a{
    color: inherit;
    text-decoration: none;
}
img{
    max-width: 100%;
    height: 100%;
}
ul{
    list-style-type: none;
}
h1,h2,h3{
    font-weight: 800;
}
p{
    font-size: 0.95em;
    line-height: 1.7em;
}
nav img{
    width: 40px;
}
.navbar-desktop{
    display: none;
}
.container{
    padding: 0 15px;
    margin-bottom: 60px;
}


.navbar-mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 15px;
}
.hamburger{
    display: block;
    width: 50px;
    cursor: pointer;
    border: none;
    background: none;
}
.hamburger-bar,
.hamburger::before,
.hamburger::after{
    content: "";
    display: block;
    width: 90%;
    height: 3px;
    background-color: var(--very-dark-blue);
    margin: 4px 2px;
    transition: 0.4s;
}
.hamburger-bar{
    height: 2px;
}
.hamburger.close::before{
    transform: rotate(-45deg) translate(-5px,2px);
}
.hamburger.close::after{
    transform: rotate(45deg) translate(-8px,-5px);
}
.hamburger.close .hamburger-bar{
    opacity: 0;
}
.mobile-navigation{
    position: fixed;
    z-index: 10;
    top: 0;
    left: 100%;
    margin-left: 35%;
    width: 65%;
    height: 100vh;
    background: var(--off-white);
    text-align: left;
    float: right;
    transition: 0.4s;
} 
.mobile-navigation .hamburger{
    height: 50px;
    margin: 20px;
    float: right;
}
.mobile-ul{
    padding: 30px;
    margin-top: 100px;
}
.mobile-ul li{
    margin: 20px 0;
    font-weight: 500;
    font-size: 1.4em;
}
.mobile-navigation.close{
    left: 0;
}
.overlay{
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0, 0.5);
    z-index: 5;
    width: 100vw;
    height: 100vh;
}

.ill-hero{
    background: url(../images/image-web-3-mobile.jpg) center;
    background-size: cover;
    width: 100%;
    height: 350px;
}
.hero-grid-box{
    display: flex;
    flex-direction: column;
    margin: 20px 0 50px;
}
.hero-grid-box h1{
    font-size: 2.8em;
    color: var(--very-dark-blue);
    line-height: 1.05em;
}
.grid-texts__btn p{
    color: var(--dark-grayish-blue);
    margin: 20px 0;
}
.read-more{
    font-size: 0.95em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 15px 30px;
    color: var(--off-white);
    background: var(--soft-red);
    border: none;
}
.read-more:hover{
    background: var(--very-dark-blue);
}

.secondary-box{
    background: var(--very-dark-blue);
    padding: 20px;
    margin-bottom: 70px;
}
.secondary-box h2{
    font-size: 1.85em;
    color: var(--soft-orange);
}
.news{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    column-gap: 10px;
    overflow: hidden;
    color: var(--off-white);
}
.new-headline{
    padding: 15px 0 0;
    flex-shrink: 0;
    transform: scale(1);
    transition: 0.4s;
}
.new-headline:nth-child(4),
.new-headline:nth-child(5),
.new-headline:nth-child(6){
    display: none;
}
.new-headline:hover{
    background: hsl(236, 13%, 42%, 0.4);
}
.new-headline h3{
    font-size: 1.05em;
}
.new-headline h3:hover{
    color: var(--soft-orange);
}
.new-headline p{
    font-size: 0.85em;
    color: var(--grayish-blue);
    margin-top: 10px;
}
.new-headline hr{
    margin-top: 15px;
    border: none;
    height: 1px;
    background: var(--dark-grayish-blue);
}
.new-headline:nth-child(3n) hr{
    display: none;
}
.pages{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.pages > div{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    text-align: center;
    border: 2px solid var(--grayish-blue);
    margin: 0 5px 25px;
}
.pages > div.active{
    background: var(--grayish-blue);
}
.pages > div::after{
    display: block;
    color: var(--off-white);
    margin-top: 20px;
}
.pages > div:nth-child(1)::after{
    content: '1';
}
.pages > div:nth-child(2)::after{
    content: '2';
}

.grid-box-two{
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 30px;
}
.numbered-headline{
    display: flex;
    /* max-width: 360px; */
}
.numbered-headline img{
    max-width: 100px;
    margin-right: 20px;
}
.numbered-headline h1{
    color: var(--grayish-blue);
}
.numbered-headline h3:hover{
    color: var(--soft-red);
}
.numbered-headline h3{
    font-size: 1.05em;
    margin: 10px 0;
}
.numbered-headline p{
    font-size: 0.85em;
}

footer{
    text-align: center;
    margin: 10px 0;
}


@media (max-width: 332px) {
    .numbered-headline{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .numbered-headline img{
        margin: 0;
    }
}


@media (min-width: 650px) {
    .navbar-desktop{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 10%;
    }
    .desktop-links{
        display: flex;
        justify-content: space-between;
        min-width: 400px;
    }
    
    .navbar-mobile{
        display: none;
    }
    
    .container{
        padding: 0 10%;
    }

    .ill-hero{
        background: url(../images/image-web-3-desktop.jpg) center;
        background-size: cover;
        width: 100%;
        height: 350px;
    }
    .grid-box-one{
        display: grid;
        grid-template-columns: repeat(3, 32%);
        column-gap: 2%;
    }
    .primary-box{
        grid-column: 1/3;
    }
    .hero-grid-box{
        display: grid;
        grid-template-columns: repeat(2, 45%);
        column-gap: 5%;
        align-items: center;
    }
    .hero-grid-box h1{
        font-size: 3.0em;
    }
    .grid-texts__btn p{
        margin-top: 0;
    }
    .new-headline h3{
        font-size: 1.25em;
    }
    .new-headline p{
        font-size: 1.05em;
    }
    .grid-box-two{
        justify-content: space-between;
    }
    .numbered-headline{
        max-width: 320px;
    }
}

@media (max-width: 1224px) {
    .navbar-desktop{
        padding: 35px 5%;
    }
    .container{
        padding: 0 5%;
    }

    .grid-box-one{
        display: flex;
        flex-direction: column;
        row-gap: 2%;
    }
}


@keyframes fade-out {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        display: none;
    }
}
@keyframes fade-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}